<h2>{{ disciplineId }}</h2>
<input ng-model="search.$" placeholder="General search...">
<select ng-model="search.language">
    <option value="">---No language filter---</option>
    <option value="English">English</option>
    <option value="French">French</option>
    <option value="Bilingual/Unofficial/Unspecified">Bilingual/Unofficial/Unspecified</option>
</select>
<select ng-model="search.year">
    <option value="">---No year filter---</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
{{ filteredCourses.length }} courses found
<table class="w-100">
    <thead>
    <tr>
        <th class="b tl pv1 ph2 bg-near-white">Code</th>
        <th class="b tl pv1 ph2 bg-near-white">Title</th>
        <th class="b tl pv1 ph2 bg-near-white">Description</th>
        <th class="b tl pv1 ph2 bg-near-white">Interest</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'bg-light-gray': course.isInterest}" ng-repeat="course in courses | filter:search:strict | orderBy:orderProp as filteredCourses">
        <td class="code pv1 ph2 v-top w-10 bg-near-white">{{ course.code }}</td>
        <td class="pv1 ph2 v-top w-20">{{ course.title }}</td>
        <td class="pv1 ph2 v-top">{{ course.description }}</td>
        <td class="pv1 ph2 v-top w-10"><a href="#" ng-click="toggleInterest(course.code, $event)">Interested?</a></td>
    </tr>
    </tbody>
</table>